# ============================================
# VISUAL STUDIO
# ============================================

.vs/
.vscode/


# ============================================
# COMPILACIÓN .NET
# ============================================

bin/
obj/

**/bin/
**/obj/


# ============================================
# GIT
# ============================================

.git/
.gitignore


# ============================================
# BASE DE DATOS SQLITE LOCAL
# ============================================

*.db
*.db-shm
*.db-wal


# ============================================
# CONFIGURACIÓN LOCAL
# ============================================

appsettings.Development.json


# ============================================
# USER SECRETS / ARCHIVOS SENSIBLES
# ============================================

secrets.json


# ============================================
# SISTEMA OPERATIVO
# ============================================

.DS_Store
Thumbs.db


# ============================================
# ARCHIVOS TEMPORALES
# ============================================

*.tmp
*.log